@model Employee

@{
    ViewData["Title"] = "Редактирование сотруника:  id " + Model.Id;
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <hr />

    @*Описвываем форму с помощью TAG-HElperоов*@
    <form asp-action="Edit" method="post"> @*asp-route-Id="@Model.Id"*@
        <div class="row">
            <div class="col-md-4">
                @*внутри создаем форму с помощью TAG-HElperоов,
        Добавляем место о выводе валидации. Сюда будут выводится строки с сообщениями об ошибках*@
                <div asp-validation-summary="ModelOnly" class="text_danger"></div>
                @*создаем блок ввода cо скрытым элеменом ввода ID без отображения*@
                <input asp-for="Id" type="hidden" />

                <div class="form-group">
                    <label asp-for="SurName" class="control-label"></label>
                    <input asp-for="SurName" class="form-control" />
                    <span asp-validation-for="SurName"></span> @*Нужен для вывода информации об ошибках*@
                </div>

                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName"></span> @*Нужен для вывода информации об ошибках*@
                </div>

                <div class="form-group">
                    <label asp-for="Patronymic" class="control-label"></label>
                    <input asp-for="Patronymic" class="form-control" />
                    <span asp-validation-for="Patronymic"></span> @*Нужен для вывода информации об ошибках*@
                </div>

                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age"></span> @*Нужен для вывода информации об ошибках*@
                </div>

                @*кнопка отправить*@
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-default"/>
                </div>

            </div>

        </div>
    </form>




</div>

